## Numbers

### Basic Math

In [1]:
2+1

3

In [3]:
2-1

1

In [4]:
4*5

20

In [5]:
3/2

1.5

#### Modulo or "Mod" Operator (the remainder after division)

In [6]:
7 % 4

3

In [7]:
50 % 5

0

For example if you want to know if a number is even or not, you can use % 2

In [9]:
41 % 2 #gives a remainder of 1, so not even

1

#### Power

In [10]:
2 ** 3

8

In [11]:
2 + 10 * 10 + 3

105

In [12]:
(2+10) * (10+3)

156

## Assigning variables

In [13]:
a = 5

In [14]:
a

5

In [16]:
a = 10

In [17]:
a

10

In [18]:
a + a

20

In [19]:
a = a + a

In [20]:
a

20

#### To check the type of a variable

In [21]:
type(a)

int

Reassigning to a different variable type

In [22]:
a = 30.1

In [23]:
type(a)

float

Example of how we can use this:

In [25]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [26]:
my_taxes

10.0

## Strings

In [27]:
'hello'

'hello'

In [28]:
"world"

'world'

In [29]:
'this is also a string'

'this is also a string'

In [30]:
print("hello") #doesn't give an output and prints only the inner part of the string

hello

This is important because:

In [32]:
"hello world one"
"hello world two" #only prints the second

'hello world two'

In [33]:
print("hellow world one")
print("hello world two")

hellow world one
hello world two

#### Escape character \n for printing in a new line

In [36]:
print('hello \nworld')

hello
world

#### Escape character \t for tab

In [37]:
print("hello \tworld")

hello 	world

Check length of a string

In [38]:
len('hello')

5

In [40]:
len('I am') #the space counts as a character

4

### String indexing

In [41]:
mystring = "Hello World"

In [42]:
mystring

'Hello World'

To grab a single charcter from a string using indexing

In [43]:
mystring[0]

'H'

In [44]:
mystring[8]

'r'

Negative indexing

In [45]:
mystring[-1]

'd'

In [46]:
mystring[-3]

'r'

### Slicing to grab a subsection of a string

In [47]:
mystring = "abcdefghijk"

In [48]:
mystring

'abcdefghijk'

In [49]:
mystring[2:] #this takes from the second index (here, c) to the end

'cdefghijk'

In [51]:
mystring[:3] #this takes from the beginning to the last index (here, d) but the last index is not included

'abc'

In [52]:
mystring[3:6] #starting at index 3, upto but not including index 6

'def'

In [53]:
mystring[1:3] #starting at index 1, upto but not including index 3

'bc'

In [54]:
mystring[::] #starting at the beginning, all the way to the end

'abcdefghijk'

Indicating step-size of the jump while slicing

In [56]:
mystring[::2] #starting at the beginning, all the way to the end, but take (or jump) every 2nd character

'acegik'

In [57]:
mystring[::3] #starting at the beginning, all the way to the end, but take (or jump) every 3rd character

'adgj'

In [58]:
mystring[2:7:2] #strting at index 2, upto but not including index 7, take (or jump) every 2nd character

'ceg'

Trick to reverse a string

In [59]:
mystring[::-1] #starting at the beginning, all the way to the end, but take (or jump) every character from the back

'kjihgfedcba'

Can do it without assigning a variable

In [61]:
'Hello World'[-3]

'r'

Immutability

In [63]:
name = "Sam"

If we want to say, replace Sam with Pam, you cannot:

In [64]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

Instead, we have to use string concantanation:

In [67]:
last_letters = name[1:]

In [68]:
last_letters

'am'

In [69]:
'P' + last_letters

'Pam'

In [70]:
x = 'Hello World'

In [72]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [73]:
x = x + " it is beautiful outside!"

In [74]:
x

'Hello World it is beautiful outside!'

In [75]:
letter = 'z'

In [76]:
letter * 10

'zzzzzzzzzz'

#### Integer Math vs. String Concatanation

In [77]:
2 + 3

5

In [78]:
'2' + '3'

'23'

### String Methods

In [80]:
x = 'Hello World'

In [81]:
#Type out x. tab to see string methods

In [82]:
x.upper()

'HELLO WORLD'

In [83]:
x.lower()

'hello world'

Here methods are not in place, i.e., they do not affect the original string unless you reassign it back to the variable

In [86]:
x.split() #split a string based on the whitespace by default

['Hello', 'World']

In [87]:
x = "Hi this is a string"

In [89]:
x.split('i') #splitting based on the i, so the i is removed and whitespaces are included

['H', ' th', 's ', 's a str', 'ng']

## Print Formatting with Strings

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

player = 'Thomas'

points = 33

'Last night, '+player+' scored '+str(points)+' points.'  # concatenation

f'Last night, {player} scored {points} points.'          # string formatting

### Formatting with the `.format()` method. The syntax for this is:
'String here {} then alse {}'.format('something1', 'something2')

In [90]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

By default, the strings supplied are put in the same order

In [91]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

1. But if you want to change the order, we can use index positioning

In [92]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [93]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

2. Or you can use keywords like:

In [94]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox

3. Repitition

In [113]:
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.

### Float formatting

syntax : "{value:width.precision f}

In [95]:
result = 100/777

In [96]:
result

0.1287001287001287

Say we want only the first 3 decimal points

In [100]:
print("The result is {r:1.3f}".format(r=result)) #usually leave width as 1, precision specifies decimal point

The result is 0.129

In [101]:
print("The result is {r:10.5f}".format(r=result)) #here we have increased the width

The result is    0.12870

In [104]:
result = 104.12348 #keeps the section after the decimal to 4 points and rounds up

In [105]:
print('The result is {r:1.4f}'.format(r=result))

The result is 104.1235

So option 1 with float formatting:

In [107]:
name = 'Nanditha'

In [108]:
print('Her name is {}'.format(name))

Her name is Nanditha

## String Literal Method (f-strings)

Option 2 with formatted string literals

In [106]:
name = 'Nanditha'

In [109]:
print(f'Her name is {name}')

Her name is Nanditha

With multiple variables

In [110]:
name = 'Sam'
age = 3

In [112]:
print(f'{name} is {age} years old')

Sam is 3 years old